<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33410338780-tq1mvehu3obf2vq040q0a4ji0p6c25es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33410338780-tq1mvehu3obf2vq040q0a4ji0p6c25es</string>
	<key>API_KEY</key>
	<string>AIzaSyBgXqL0gmBgGaVSoEkdrIqUwri4KDXh49w</string>
	<key>GCM_SENDER_ID</key>
	<string>33410338780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseTest3</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-demo-ea778</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-demo-ea778.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33410338780:ios:d34e0c87f03bab3ae74919</string>
</dict>
</plist>